name: Check Changes

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  changes:
    if: ${{ github.actor != 'dependabot[bot]' && !startsWith(github.head_ref, 'publish/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 ## Needed for changelog
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - uses: pnpm/action-setup@v3
        name: Install pnpm

      - run: pnpm install
        name: Install dependencies

      - run: pnpm build
        name: Build

      - name: Create PR Comment
        run: node ./packages/github/cmd/cli.mjs get-pr-comment --out ./.comment/comment.md
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - uses: actions/upload-artifact@v4
        with:
          name: comment
          path: .comment/
          retention-days: 1 # Only need for the next workflow so don't need to waste storageretention-days

      - run: node ./packages/chronus/cmd/cli.mjs verify
        name: Verify changes
