name: Publish

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main
      - bulk-publish-tarballs

  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v2
        name: Install pnpm

      - run: pnpm install
        name: Install dependencies

      - run: pnpm check-version-mismatch
        name: Check dependencies are consistent

      - run: pnpm run build
        name: Build

      - run: pnpm run test
        name: Build

      - run: pnpm run check-format
        name: Check formatting

      - run: pnpm run lint
        name: Lint

      - run: |
          git status --porcelain
          git diff --no-ext-diff --quiet --exit-code
        name: Check not out of date generated files

      - run: node ./packages/chronus/cmd/cli.mjs pack --pack-destination ./artifacts
        name: Pack

      - run: node ./packages/chronus/cmd/cli.mjs publish ./artifacts/*.tgz --access public
        name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # To pack and publish as one step
      # - run: node ./packages/chronus/cmd/cli.mjs publish --access public
      #   name: Publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
