name: Publish

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches:
      - main

  workflow_dispatch: {}

permissions:
  id-token: write # Required for OIDC to publish to npm

jobs:
  build:
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v3
        name: Install pnpm

      - run: pnpm install
        name: Install dependencies

      - run: pnpm check-version-mismatch
        name: Check dependencies are consistent

      - run: pnpm run build
        name: Build

      - run: pnpm run test
        name: Test

      - run: |
          git status --porcelain
          git diff --no-ext-diff --quiet --exit-code
        name: Check not out of date generated files

      - run: node ./packages/chronus/cmd/cli.mjs pack --pack-destination ./artifacts
        name: Pack

      # Have to use npm as pnpm doesn't respect access.
      - run: node ./packages/chronus/cmd/cli.mjs publish "./artifacts/*.tgz" --access public --engine npm --report-summary ./publish-summary.json
        name: Publish

      # To pack and publish as one step
      # - run: node ./packages/chronus/cmd/cli.mjs publish --access public
      #   name: Publish

      - run: |
          echo "Publish summary:"
          cat ./publish-summary.json
        name: Log publish summary

      - run: node ./packages/github/cmd/cli.mjs create-releases --repo timotheeguerin/chronus --publish-summary ./publish-summary.json
        name: Create github releases
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
